SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=hello@nicheprojectagency.com
SMTP_PASS=ipwkaklflxctsuvn
SMTP_FROM=hello@nicheprojectagency.com
SMTP_TO=info@novises.com
SMTP_SECURE=true
NEXT_PUBLIC_SITE_URL=https://novises.com
